<form class="form-group" id="idMarket" method="POST" action="/cash/market">
    <div class="row row-cols-2">




        <input class="form-control" type="hidden" placeholder="" name="strIndex" id="strIndex">       
    </div>
    <script type="text/javascript">
        var ind=-1;
        document.getElementById('strIndex').value='-1';
        function getIndex(index) {
            var ind = index;
            document.getElementById('strIndex').value=ind;				
        }
    
        function msgBox(str)
        {
            return window.confirm(str);
        }

      </script>
</form>